In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 40)
import warnings
warnings.filterwarnings("ignore")

## 1. Load & Inspect Data

### 1.1 Read the CSV file into the variable "hotel". Use pandas library to read the file. (1 Mark)

In [2]:
hotel = pd.read_csv("hotel_mod.csv")
# This code helps in reading the and loading any csv file.

### 1.2 Inspect the Data Frame (4 Marks)

- Write the code to check the top-5 rows
- Write the code to check the shape of the data frame, hotel.
- Write the code to check the info about the data frame, hotel.
- Wrtie the code to print the column names of the data frame, hotel.

In [3]:
hotel.head(5)
# This code helps in extracting the top 5 rows.which help us in inspecing the data frame.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
hotel.shape
# Check the number of rows and columns (shape) of the dataframe
# Total 119390 rows and 33 coloumns

(119390, 33)

In [5]:
hotel.info()
# This code expalins that we have to Look at the basic information about the columns and look at the datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Customer_Id                     119390 non-null  object
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  int64
 3   lead_time                       119390 non-null  int64
 4   arrival_date_year               119390 non-null  int64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        119390 non-null  int64
 7   arrival_date_day_of_month       119390 non-null  int64
 8   stays_in_weekend_nights         119390 non-null  int64
 9   stays_in_week_nights            119390 non-null  int64
 10  adults                          119390 non-null  int64
 11  children                        119386 non-null  float64
 12  babies                          119390 non-null  int64
 13  meal                            119390 non-null  object
 14  country                         118902 non-null  object
 15  market_segment                  119390 non-null  object
 16  distribution_channel            119390 non-null  object
 17  is_repeated_guest               119390 non-null  int64
 18  previous_cancellations          119390 non-null  int64
 19  previous_bookings_not_canceled  119390 non-null  int64
 20  reserved_room_type              119390 non-null  object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119390 non-null  int64
 23  deposit_type                    119390 non-null  object
 24  agent                           103050 non-null  float64
 25  company                         6797 non-null    float64
 26  days_in_waiting_list            119390 non-null  int64
 27  customer_type                   119390 non-null  object
 28  adr                             119390 non-null  float64
 29  required_car_parking_spaces     119390 non-null  int64
 30  total_of_special_requests       119390 non-null  int64
 31  reservation_status              119390 non-null  object
 32  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(13)
memory usage: 30.1+ MB

In [6]:
print(hotel.columns)
# This code help us to print all the coloumn names in this data frame hotel.

Index(['Customer_Id', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

## 2. Data Cleaning (5 Marks)

### 2.1 Get the column-wise Null percentage count using 'isnull()' and length of the dataframe (2 Marks)

#### Hint: When we use isnull().sum() we get sum and when we divide it by the length of the dataframe and multiply the numerator with 100 we get the percentage of missing values in each column

In [7]:
hotel_2 = hotel.isnull().sum()/len(hotel)*100
# this code helps us in Getting the percentage of missing values in each column.so that we can remove these null values.as it will distort our analysis.

In [8]:
hotel_2.sort_values(ascending=False)

# this code is used for sorting the data in descending order.so that we could help in identifying the maximum null values.

company                           94.306893
agent                             13.686238
country                            0.408744
children                           0.003350
arrival_date_day_of_month          0.000000
babies                             0.000000
adults                             0.000000
stays_in_week_nights               0.000000
stays_in_weekend_nights            0.000000
reservation_status_date            0.000000
arrival_date_week_number           0.000000
arrival_date_month                 0.000000
arrival_date_year                  0.000000
lead_time                          0.000000
is_canceled                        0.000000
hotel                              0.000000
meal                               0.000000
distribution_channel               0.000000
market_segment                     0.000000
reservation_status                 0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
Customer_Id                        0.000000
dtype: float64

### 2.2 We can see that the columns 'company' and 'agent' have 94% and 13% of values missing respectively. Since our business goals doesnot require these columns also, since these columns contain huge missing values.So,lets drop them. (2 marks)

In [9]:
hotel.drop(["company","agent"],axis=1)
 # Using this code we are able to drop the columns which contains maximum null values.therby remaining data is usefull.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07

### Though country contains 0.40% of missing values it is a important factor in our analysis. Also, dropping the whole column for such low missing values is not the right choice. Lets drop the rows which has column 'country' missing.

In [10]:
hotel = hotel[~ hotel['country'].isnull()]

### 2.3 Explain the code below: (1 mark)

What is the below code block doing?

In [11]:
hotel['children'][hotel['children'].isnull()] = 0

# 'isnull' function is used to detect missing values.It returns the values as bool like true or false.This code explains in data frame 'hotel'missing values in 'children' coloumn is being detected and equal to zero.Now it will show 0 inplace of NAN values in children coloumn.

## 3.Data Analysis (25 Marks)

## 3.1 Analysing the possible reasons for the customers to cancel the booking (11 Marks)

### 3.1.1 In total how many customers cancelled the booking? (2 Marks)

In [12]:
hotel_cancel = hotel[hotel.is_canceled>0]
hotel_cancel
# Using this code we can identify the customers who have cancel the bookings.
# in total 44157 numbers of customer cancel the bookings.
## use the column 'is_canceled' and check the number of total cancellations.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
8,Customer_9,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Customer_10,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22
10,Customer_11,Resort Hotel,1,23,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2015-06-23
27,Customer_28,Resort Hotel,1,60,2015,July,27,1,2,5,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2015-05-11
32,Customer_33,Resort Hotel,1,96,2015,July,27,1,2,8,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,E,E,0,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2015-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,Customer_110281,City Hotel,1,132,2017,April,17,25,0,0,0,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,D,K,1,No Deposit,9.0,NaN,0,Transient,0.0,0,3,Canceled,2017-04-25
111355,Customer_111356,City Hotel,1,4,2017,June,23,5,1,0,1,0.0,0,BB,PRT,Corporate,Corporate,1,0,4,A,A,0,No Deposit,NaN,238.0,0,Transient,65.0,0,0,Canceled,2017-06-05
111924,Customer_111925,City Hotel,1,7,2017,May,22,31,0,1,1,0.0,0,BB,PRT,Corporate,Corporate,1,0,1,A,A,0,No Deposit,NaN,238.0,0,Transient,65.0,0,0,Canceled,2017-05-31
111925,Customer_111926,City Hotel,1,6,2017,July,29,17,1,0,1,0.0,0,BB,PRT,Corporate,Corporate,1,1,1,A,D,0,No Deposit,NaN,238.0,0,Transient,65.0,0,0,No-Show,2017-07-17
117295,Customer_117296,City Hotel,1,0,2017,August,31,2,0,2,1,0.0,0,BB,PRT,Corporate,Corporate,1,0,0,A,C,0,No Deposit,NaN,40.0,0,Transient,65.0,0,1,No-Show,2017-08-02

In [13]:
hotel_cancel.shape
# this code shows total 44157 customers have canceled the booking.

(44157, 33)

### 3.1.2 What percentage of bookings were cancelled for City Hotel and Resort Hotel? (2 marks)

In [14]:
hotel_cancel.hotel.value_counts(normalize=True)*100

## Use group by function and calculate the percentage of cancellations for City Hotel and Resort Hotel.Through this we can conclude that most of city hotels were canceled.

City Hotel      74.91451
Resort Hotel    25.08549
Name: hotel, dtype: float64

### 3.1.3 Who gave more special requests? Customers who cancelled the booking or customers who didnot cancel the booking? Find the percentage for both the cases (2 Marks)

In [15]:
hotel.groupby(["is_canceled"])[["total_of_special_requests"]].sum()/len(hotel)*100
# This code explains that '0' indicates the customers has not cancel the bookings and has made more special requests than'1' which indicates the customers who has cancel the bookings.

             total_of_special_requests
is_canceled
0                            44.962238
1                            12.208373

### 3.1.4 What is the average number of days a particular customer needs to wait who later cancelled the booking and who didn't cancelled the booking? (2 Marks)

In [16]:
hotel.groupby(["is_canceled"])[["lead_time"]].mean()
## This code explains the average days which customer needs to wait who later cancel the bookings and who dont.

              lead_time
is_canceled
0             80.320209
1            144.912449

### 3.1.5 What is the percentage of customers who have cancelled the booking and have a history of cancelling the booking previously? (2 Marks)

In [17]:
hotel_cancel.groupby(["is_canceled"])[["previous_cancellations"]].sum()/len(hotel_cancel)*100
# This code explains that first we take out the sum of both the counts of coloumn is_cancel and then we convert it into percantage.

             previous_cancellations
is_canceled
1                         20.809838

### 3.1.6 What steps from the business perspective can you take to ensure that people who cancelled bookings previously do not repeat that again? (1 Mark)

# As a Manager i would like take some robust step like, increasing the cancellation charges for bookings and if booking is canceled before 12 hours of booking date.No refund will made to customers.

## 3.2 Filtering out top 10 customers to offer them discounts when they visit next time (14 Marks)

### 3.2.1 Filter customers that have not cancelled the booking. (2 marks)

In [18]:
not_cancel = hotel[hotel.is_canceled==0]
not_cancel
# This code help us in find out the customers who have not cancel the bookings.and we need to focus on these customers.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

From now on we will use this dataframe for further analysis

Let's now calculate the total stay duration for customer together with the revenue generated by that particular customer. Using these metrics, we would be able to identify top customers that are profitable to the hotel.

### 3.2.2 Create a new column "total_stay_duration" in the data frame not_cancel. (2 Marks)

Total_Stay_Duration is defined as the number of nights a customer stayed in the hotel including both weekends and weekdays

In [19]:
not_cancel['Total_Stay_Duration'] = np.add(not_cancel['stays_in_weekend_nights'], not_cancel['stays_in_week_nights'])
## This code explains that we have created a new coloumn name Total stay Duration.so that we focus on customers who have longest stay in hotel.

In [20]:
not_cancel.sort_values(['Total_Stay_Duration'],ascending=False)
# This code explains that we have taken data of maximum stay in descending order.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration
101794,Customer_101795,City Hotel,0,140,2016,September,39,22,16,41,0,0.0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,K,12,No Deposit,9.0,NaN,0,Transient,8.34,0,2,Check-Out,2016-11-18,57
33924,Customer_33925,Resort Hotel,0,71,2017,January,2,10,16,40,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,196.0,NaN,0,Transient,28.79,0,0,Check-Out,2017-03-07,56
88017,Customer_88018,City Hotel,0,16,2016,March,11,11,14,35,0,0.0,0,BB,PRT,Corporate,TA/TO,0,0,0,A,K,21,No Deposit,NaN,215.0,0,Transient-Party,0.00,0,0,Check-Out,2016-04-29,49
54704,Customer_54705,City Hotel,0,206,2016,July,30,23,14,34,2,0.0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,K,6,No Deposit,9.0,NaN,0,Transient-Party,0.00,0,1,Check-Out,2016-09-09,48
1655,Customer_1656,Resort Hotel,0,30,2015,September,37,7,13,33,2,0.0,0,SC,ESP,Online TA,TA/TO,0,0,0,A,I,17,No Deposit,240.0,NaN,0,Transient,0.00,0,1,Check-Out,2015-10-23,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18005,Customer_18006,Resort Hotel,0,1,2016,April,17,22,0,0,1,0.0,0,BB,PRT,Direct,Corporate,1,1,15,A,A,0,No Deposit,47.0,NaN,0,Transient,0.00,0,0,Check-Out,2016-04-22,0
38776,Customer_38777,Resort Hotel,0,0,2017,July,30,29,0,0,2,0.0,0,BB,PRT,Direct,Direct,1,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2017-07-29,0
94877,Customer_94878,City Hotel,0,0,2016,August,33,11,0,0,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,1,0,0,A,K,0,No Deposit,28.0,NaN,0,Transient-Party,0.00,0,1,Check-Out,2016-08-11,0
94878,Customer_94879,City Hotel,0,0,2016,August,33,11,0,0,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,1,0,0,A,K,0,No Deposit,28.0,NaN,0,Transient,0.00,0,1,Check-Out,2016-08-11,0
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0

### 3.2.3 Create a new column "total_revenue" in the data frame not_cancel. (2 Marks)

Total_Revenue can be calculated by multiplying average rental revenue(adr) with total stay duration(column created in last question)

The average daily rate (adr) measures the average rental revenue earned for an occupied room per day. The operating performance of a hotel or other lodging business can be determined by using the ADR.

In [21]:
not_cancel['Total_revenue'] = np.multiply(not_cancel['Total_Stay_Duration'], not_cancel['adr'])
# This code explains the total revenue generated by hotel rooms so that find out the customers through which highest revenue is generated.

In [23]:
not_cancel.sort_values(['Total_revenue'],ascending=False)
# This code helps in sorting the data in descending order.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration,Total_revenue
27242,Customer_27243,Resort Hotel,0,82,2017,August,33,15,4,10,2,2.0,0,BB,PRT,Direct,Direct,1,0,1,G,G,2,No Deposit,250.0,NaN,0,Transient,318.00,1,3,Check-Out,2017-08-29,14,4452.0
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,NaN,358.0,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.0
16087,Customer_16088,Resort Hotel,0,103,2015,August,31,1,4,9,2,1.0,0,HB,PRT,Direct,Direct,0,0,0,H,H,0,No Deposit,NaN,NaN,0,Transient,297.50,1,1,Check-Out,2015-08-14,13,3867.5
105525,Customer_105526,City Hotel,0,5,2017,January,4,25,4,13,2,2.0,0,BB,AGO,Online TA,TA/TO,0,0,0,F,G,1,No Deposit,9.0,NaN,0,Transient,223.00,0,0,Check-Out,2017-02-11,17,3791.0
39252,Customer_39253,Resort Hotel,0,128,2017,August,31,3,2,8,3,0.0,0,HB,PRT,Direct,Direct,0,0,0,F,F,1,No Deposit,250.0,NaN,0,Transient,368.10,1,1,Check-Out,2017-08-13,10,3681.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36626,Customer_36627,Resort Hotel,0,13,2017,May,21,24,0,1,1,0.0,0,BB,PRT,Complementary,Direct,0,0,0,E,E,0,No Deposit,307.0,NaN,0,Transient,0.00,1,3,Check-Out,2017-05-25,1,0.0
102898,Customer_102899,City Hotel,0,23,2016,December,50,8,0,0,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,1,No Deposit,7.0,NaN,0,Transient,0.00,0,1,Check-Out,2016-12-08,0,0.0
94878,Customer_94879,City Hotel,0,0,2016,August,33,11,0,0,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,1,0,0,A,K,0,No Deposit,28.0,NaN,0,Transient,0.00,0,1,Check-Out,2016-08-11,0,0.0
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,0.0
14969,Customer_14970,Resort Hotel,0,195,2017,March,10,5,4,6,2,0.0,0,BB,GBR,Groups,Direct,1,0,2,A,H,2,No Deposit,273.0,NaN,0,Transient-Party,-6.38,0,0,Check-Out,2017-03-15,10,-63.8

### 3.2.4 Find the top 10 customers based on trip duration who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [24]:
not_cancel[not_cancel['hotel']=="City Hotel"].sort_values('Total_Stay_Duration',ascending=False).head(10)
# This code explains the data is filter according to city hotel and on the basis of total stay duration.through this we can analysis the top customers.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration,Total_revenue
101794,Customer_101795,City Hotel,0,140,2016,September,39,22,16,41,0,0.0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,K,12,No Deposit,9.0,NaN,0,Transient,8.34,0,2,Check-Out,2016-11-18,57,475.38
88017,Customer_88018,City Hotel,0,16,2016,March,11,11,14,35,0,0.0,0,BB,PRT,Corporate,TA/TO,0,0,0,A,K,21,No Deposit,NaN,215.0,0,Transient-Party,0.00,0,0,Check-Out,2016-04-29,49,0.00
54704,Customer_54705,City Hotel,0,206,2016,July,30,23,14,34,2,0.0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,K,6,No Deposit,9.0,NaN,0,Transient-Party,0.00,0,1,Check-Out,2016-09-09,48,0.00
106561,Customer_106562,City Hotel,0,11,2017,January,3,15,13,30,0,0.0,0,SC,USA,Online TA,TA/TO,0,0,0,A,K,14,No Deposit,9.0,NaN,0,Transient,0.00,0,0,Check-Out,2017-02-27,43,0.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,NaN,368.0,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
41020,Customer_41021,City Hotel,0,0,2015,August,33,10,9,20,0,0.0,0,SC,PRT,Online TA,Direct,0,0,0,E,K,20,No Deposit,NaN,47.0,0,Transient,0.00,0,0,Check-Out,2015-09-08,29,0.00
98046,Customer_98047,City Hotel,0,42,2016,August,35,27,8,20,0,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,D,K,2,No Deposit,7.0,NaN,0,Transient,0.00,0,1,Check-Out,2016-09-24,28,0.00
109038,Customer_109039,City Hotel,0,2,2017,March,10,9,8,19,0,0.0,0,SC,PRT,Direct,Direct,0,0,0,G,K,14,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2017-04-05,27,0.00
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,NaN,51.0,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,NaN,358.0,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00

### 3.2.5 Find the top 10 customers based on trip duration who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [25]:
not_cancel[not_cancel['hotel']=="Resort Hotel"].sort_values('Total_Stay_Duration',ascending=False).head(10)
# This code explains and filter the top customers who have stay longest in the resort hotel.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration,Total_revenue
33924,Customer_33925,Resort Hotel,0,71,2017,January,2,10,16,40,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,196.0,NaN,0,Transient,28.79,0,0,Check-Out,2017-03-07,56,1612.24
1655,Customer_1656,Resort Hotel,0,30,2015,September,37,7,13,33,2,0.0,0,SC,ESP,Online TA,TA/TO,0,0,0,A,I,17,No Deposit,240.0,NaN,0,Transient,0.00,0,1,Check-Out,2015-10-23,46,0.00
32589,Customer_32590,Resort Hotel,0,1,2017,February,5,3,13,32,1,0.0,0,BB,GBR,Direct,Direct,1,0,1,A,D,2,No Deposit,NaN,NaN,0,Transient,42.11,0,3,Check-Out,2017-03-20,45,1894.95
3850,Customer_3851,Resort Hotel,0,214,2016,January,5,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,8.0,NaN,0,Transient,31.45,0,0,Check-Out,2016-03-08,42,1320.90
34614,Customer_34615,Resort Hotel,0,242,2017,February,7,17,12,30,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,75.0,NaN,0,Transient,35.70,0,1,Check-Out,2017-03-31,42,1499.40
34898,Customer_34899,Resort Hotel,0,150,2017,February,9,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,40.0,NaN,0,Contract,39.41,0,2,Check-Out,2017-04-09,42,1655.22
35059,Customer_35060,Resort Hotel,0,80,2017,March,10,5,12,26,2,0.0,0,SC,GBR,Groups,TA/TO,0,0,0,D,I,10,No Deposit,273.0,NaN,0,Transient-Party,0.26,0,0,Check-Out,2017-04-12,38,9.88
33620,Customer_33621,Resort Hotel,0,88,2017,January,4,24,10,25,2,0.0,0,BB,GBR,Direct,Direct,0,0,0,D,D,0,No Deposit,NaN,NaN,0,Transient,41.47,0,1,Check-Out,2017-02-28,35,1451.45
33234,Customer_33235,Resort Hotel,0,192,2017,January,2,14,10,25,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,6.0,NaN,0,Transient,34.00,0,0,Check-Out,2017-02-18,35,1190.00
32946,Customer_32947,Resort Hotel,0,140,2017,January,1,6,10,25,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,177.0,NaN,0,Transient,45.00,0,1,Check-Out,2017-02-10,35,1575.00

### 3.2.6 Find the top 10 customers based on total revenue who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [26]:
not_cancel[not_cancel['hotel']=="City Hotel"].sort_values('Total_revenue',ascending=False).head(10)
# This code helps in filtering out the customers who stay in city hotel and through maximum output is generated.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration,Total_revenue
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,NaN,358.0,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00
105525,Customer_105526,City Hotel,0,5,2017,January,4,25,4,13,2,2.0,0,BB,AGO,Online TA,TA/TO,0,0,0,F,G,1,No Deposit,9.0,NaN,0,Transient,223.00,0,0,Check-Out,2017-02-11,17,3791.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,NaN,368.0,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
95420,Customer_95421,City Hotel,0,120,2016,August,32,5,4,10,2,2.0,0,BB,FRA,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,7.0,NaN,0,Transient,220.00,1,1,Check-Out,2016-08-19,14,3080.00
95150,Customer_95151,City Hotel,0,152,2016,July,31,30,5,11,3,0.0,0,HB,FRA,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,9.0,NaN,0,Transient,184.34,0,2,Check-Out,2016-08-15,16,2949.44
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,NaN,51.0,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
106335,Customer_106336,City Hotel,0,30,2017,February,5,2,6,16,2,0.0,0,BB,CN,Online TA,TA/TO,0,0,0,E,E,1,No Deposit,9.0,NaN,0,Transient,115.60,0,3,Check-Out,2017-02-24,22,2543.20
81695,Customer_81696,City Hotel,0,1,2017,April,14,3,5,11,1,0.0,0,BB,AGO,Direct,Direct,1,0,3,D,D,7,No Deposit,NaN,NaN,0,Transient,150.00,0,2,Check-Out,2017-04-19,16,2400.00
93470,Customer_93471,City Hotel,0,13,2016,July,29,13,2,7,3,0.0,0,BB,FIN,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,8.0,NaN,0,Transient,265.44,0,2,Check-Out,2016-07-22,9,2388.96
108825,Customer_108826,City Hotel,0,7,2017,March,12,22,2,9,2,0.0,1,BB,PRT,Online TA,TA/TO,0,0,0,F,F,2,No Deposit,9.0,NaN,0,Transient,212.73,0,2,Check-Out,2017-04-02,11,2340.03

### 3.2.7 Find the top 10 customers based on total revenue who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [27]:
not_cancel[not_cancel['hotel']=="Resort Hotel"].sort_values('Total_Stay_Duration',ascending=False).head(10)
# This code helps us in finding out the top customers who have longest durtion stay in resort hotel.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Total_Stay_Duration,Total_revenue
33924,Customer_33925,Resort Hotel,0,71,2017,January,2,10,16,40,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,196.0,NaN,0,Transient,28.79,0,0,Check-Out,2017-03-07,56,1612.24
1655,Customer_1656,Resort Hotel,0,30,2015,September,37,7,13,33,2,0.0,0,SC,ESP,Online TA,TA/TO,0,0,0,A,I,17,No Deposit,240.0,NaN,0,Transient,0.00,0,1,Check-Out,2015-10-23,46,0.00
32589,Customer_32590,Resort Hotel,0,1,2017,February,5,3,13,32,1,0.0,0,BB,GBR,Direct,Direct,1,0,1,A,D,2,No Deposit,NaN,NaN,0,Transient,42.11,0,3,Check-Out,2017-03-20,45,1894.95
3850,Customer_3851,Resort Hotel,0,214,2016,January,5,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,8.0,NaN,0,Transient,31.45,0,0,Check-Out,2016-03-08,42,1320.90
34614,Customer_34615,Resort Hotel,0,242,2017,February,7,17,12,30,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,75.0,NaN,0,Transient,35.70,0,1,Check-Out,2017-03-31,42,1499.40
34898,Customer_34899,Resort Hotel,0,150,2017,February,9,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,40.0,NaN,0,Contract,39.41,0,2,Check-Out,2017-04-09,42,1655.22
35059,Customer_35060,Resort Hotel,0,80,2017,March,10,5,12,26,2,0.0,0,SC,GBR,Groups,TA/TO,0,0,0,D,I,10,No Deposit,273.0,NaN,0,Transient-Party,0.26,0,0,Check-Out,2017-04-12,38,9.88
33620,Customer_33621,Resort Hotel,0,88,2017,January,4,24,10,25,2,0.0,0,BB,GBR,Direct,Direct,0,0,0,D,D,0,No Deposit,NaN,NaN,0,Transient,41.47,0,1,Check-Out,2017-02-28,35,1451.45
33234,Customer_33235,Resort Hotel,0,192,2017,January,2,14,10,25,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,6.0,NaN,0,Transient,34.00,0,0,Check-Out,2017-02-18,35,1190.00
32946,Customer_32947,Resort Hotel,0,140,2017,January,1,6,10,25,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,177.0,NaN,0,Transient,45.00,0,1,Check-Out,2017-02-10,35,1575.00